UseTab: Never
TabWidth: 4
IndentWidth: 4
NamespaceIndentation: All
IndentWrappedFunctionNames: true

BreakBeforeBraces: Allman

PointerAlignment: Left

AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortLambdasOnASingleLine : All

FixNamespaceComments: true
