UseTab: Never
NamespaceIndentation: All
IndentWrappedFunctionNames: true
TabWidth: 2
IndentWidth: 2

BreakBeforeBraces: Allman

PointerAlignment: Left

AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortLambdasOnASingleLine : All

FixNamespaceComments: true
