[submodule "inc/ext/text-table"]
	path = inc/ext/text-table
	url = git@github.com:haarcuba/cpp-text-table.git
[submodule "inc/ext/mockturtle"]
	path = inc/ext/mockturtle
	url = git@github.com:lsils/mockturtle.git
	ignore = untracked
